h1 {
    font-size: 40px;
}
p {
    font-size: 25px;
    border-bottom: solid;
    border-color: rgb(223, 223, 223);
    border-bottom-style:dashed;
    padding-bottom: 30px;
}
.mainpage {
    width: 60%;
    position: relative;
    margin:0 auto;
}

.refresh-date {
    float: right;
    font-size: medium;
    border: hidden;
    display: inline-block;
    margin-top: 0;
}

.headline {
    font-family: 'Pokemon DE';
    font-size: 100px;
    padding-left: 0px;
    text-decoration: underline;
}
.credits {
    font-size: 11pt;
	text-align: center;
	bottom: 0px;
    border: hidden;
}
.contact-picture {
    zoom: 42%;
}